/* Booking Section */
.booking {
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Squanch Container */
.squanch-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}

.squanch-image {
    max-width: 100%;
    height: auto;
}

.speech-bubble {
    position: relative;
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 20rem;
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    color: var(--text-color-dark);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
}

.speech-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -2rem;
    transform: translateY(-50%);
    border-width: 1rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--secondary-color);
}

/* Calendar Section */
.calendar-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:var(--secondary-color);
}

.calendar-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.calendar {
    width: 40%;
    box-sizing: border-box;
    padding: 1rem;
}

.info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.info img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar .cal-day-box {
    width: auto;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

/* Form Section */
form {
    background:var(--primary-color);
    color: #f5f5f5;
    border: 0.5rem solid var(--secondary-color);
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 50rem;
    margin: 2rem auto;
}

form h2 {
    font-size: 1.8rem;
    text-align: center;
    color: var(--secondary-color); /* Ändrat för att sticka ut */
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px #000;
}

form label {
    display: block;
    font-size: 1rem;
    color: #f5f5f5; /* Ljusa etiketter */
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

form input,
form select {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid #dddddd;
    border-radius: 8px; /* Rundade hörn */
    margin-bottom: 1.5rem;
    background-color: #f4f4f4;
    transition: all 0.3s ease-in-out;
}


form button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color-light);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 2px #000;
}

form button:hover {
    background-color:var(--alternative-color);
}

form p {
    color: white;
}






