/* ====================
   Footer Styles
   ==================== */

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color); /* Contrast with the footer background */
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.footer-content {
  margin-bottom: 1rem;
}

.footer a {
  color: var(--alternative-color); /* Use alternative color */
  text-decoration: none;
  margin: 0 0.5rem; /* Consistent spacing */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition */
}

.footer a:hover {
  text-decoration: underline;
  color: var(--button-hover-bg); /* Hover effect using button hover color */
}
