.header {
    text-align: center; /* Centrera texten */
        text-shadow: 0 0 10px var(--primary-color), /* Neon-effekt */
                     0 0 20px var(--primary-color), 
                     0 0 30px var(--primary-color);
        margin: 20px 0; /* Avstånd från andra element */
        letter-spacing: 2px; /* Gör texten luftigare */
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: var(--secondary-color);
    top: 0;
    z-index: 1000;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 0 1rem 1rem 0rem; */
}

.logo {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  .stars-container {
   display: flex; 
   justify-content: center;
   align-items: center;
    object-fit: cover;
    height: 10rem;
  }

  .stars {
    width: 30px;
    height: auto;
    animation: star-bounce 2s infinite ease-in-out; /* Adds a bouncing effect */
}

/* Star bounce animation */
@keyframes star-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

  .hero-section {
    position: relative;
    /* text-align: center; */
    color: white;
    position: relative;
    text-align: left;
  }

  .hero-section img {
    width: 100%;
    display: block;
  }

  .cta-button {
    position: absolute;
    bottom: 20px;
    top: 50%; /* Centrera vertikalt */
    left: 10%; /* Flytta till vänster */
    transform: translateX(-50%);
    background-color:var(--primary-color); /* Lila färg */
    color: white;
    padding: 10px 20px;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    width: 275px;
  }

  .cta-button:hover {
    background-color: var( --button-hover-bg);
  }