/* ====================
   Header Styles
   ==================== */

/* Header Container */
.header {
  text-align: center; /* Center the text */
  text-shadow: 0 0 1rem var(--primary-color), 0 0 2rem var(--primary-color),
    0 0 3rem var(--primary-color); /* Neon effect */
  margin: 2rem 0; /* Space from other elements */
  letter-spacing: 0.2rem; /* Add spacing between letters */
}

/* ====================
 Navbar Styles
 ==================== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  top: 0;
  z-index: 1000;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0; /* Rounded corners on the top */
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

/* Logo Container */
.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem; /* Consistent spacing */
}

.logo {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Stars Container */
.stars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  gap: 0.5rem;
}

/* Stjärnor */
.stars {
  width: 3rem; /* Consistent size using rem */
  height: auto;
  animation: star-bounce 2s infinite ease-in-out; /* Adds a bouncing effect */
}

/* Star Bounce Animation */
@keyframes star-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem); /* Adjusted bounce height */
  }
}

/* ====================
 Hero Section Styles
 ==================== */

.hero-section {
  position: relative;
  color: var(--text-color-light); /* Consistent text color */
  text-align: left;
}

.hero-section img {
  width: 100%;
  display: block;
  border-radius: 0 0 1rem 1rem; /* Rounded corners on the bottom */
  margin-bottom: 2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

/* ====================
 Call-to-Action Button
 ==================== */

.cta-button {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 20%; /* Offset to the left */
  transform: translateX(-50%);
  font-size: 3.2rem; /* Consistent typography */
  height: 10rem; /* Consistent sizing */
  width: 27.5rem; /* Consistent sizing */
}

.cta-button:hover {
  background-color: var(--button-hover-bg); /* Use hover variable */
}
