.booking {
    display: flex;
}

.calendar-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.calendar-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Täcker hela raden */
}

.calendar {
    width: 40%; /* Kalendern täcker hela behållarens bredd */
    box-sizing: border-box; /* Inkludera padding i breddberäkningen */
    padding: 10px; /* Jämn padding för bättre utseende */
}

.info {
    width: 60%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.info img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.info p {
    margin: 0;
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

.calendar table {
    width: 100%; /* Tabellkalender fyller hela sin behållare */
    border-collapse: collapse; /* Ta bort mellanrum mellan cellerna */
}

.calendar .cal-day-box {
    width: auto; /* Justera kolumnbredd dynamiskt */
    height: 50px; /* Fast höjd för att undvika hoptryckning */
    text-align: center;
    line-height: 50px; /* Centrera text vertikalt */
}

/* Grundläggande styling för formuläret */
form {
    background-color: #ffffff; /* Vit bakgrund */
    border: 1px solid #dddddd; /* Ljusgrå kantlinje */
    border-radius: 8px; /* Rundade hörn */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Skugga för djup */
    max-width: 500px;
    margin: 20px auto; /* Centrerar formuläret */
    font-family: 'Arial', sans-serif;
}

/* Rubrik för formuläret */
form h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #005f73; /* Mörkblå text */
    margin-bottom: 20px;
}

/* Styling för etiketter */
form label {
    display: block;
    font-size: 1rem;
    color: #333333; /* Mörk text */
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styling för inputs och select */
form input,
form select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #333333;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    transition: all 0.3s ease-in-out;
}

form input:focus,
form select:focus {
    border-color: #005f73; /* Mörkblå kant vid fokus */
    outline: none;
    background-color: #e0f7fa; /* Ljusblå bakgrund vid fokus */
}

/* Styling för knappen */
form button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color ); /* Turkos knapp */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    background-color: #005f73; /* Mörkare blå vid hover */
    transform: scale(1.05); /* Förstorar lite */
}


