.header {
    text-align: center; /* Centrera texten */
        text-shadow: 0 0 10px var(--primary-color), /* Neon-effekt */
                     0 0 20px var(--primary-color), 
                     0 0 30px var(--primary-color);
        margin: 20px 0; /* Avstånd från andra element */
        letter-spacing: 2px; /* Gör texten luftigare */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color:var(--secondary-color); /* Gul färg */
  }

  .navbar .logo {
    height: 10rem;
  }

  .navbar .stars {
   display: flex; 
   justify-content: center;
   align-items: center;
    object-fit: cover;
    height: 10rem;
  }

  .hero-section {
    position: relative;
    /* text-align: center; */
    color: white;
    position: relative;
    text-align: left;
  }

  .hero-section img {
    width: 100%;
    display: block;
  }

  .cta-button {
    position: absolute;
    bottom: 20px;
    top: 50%; /* Centrera vertikalt */
    left: 10%; /* Flytta till vänster */
    transform: translateX(-50%);
    background-color:var(--primary-color); /* Lila färg */
    color: white;
    padding: 10px 20px;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    width: 275px;
  }

  .cta-button:hover {
    background-color: #5A005A;
  }

  .intro-section {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
}